.achievement-container {
  @apply flex flex-wrap justify-center;
}

.achievement {
  @apply w-full md:w-1/3 lg:w-1/4 ring-1 p-2 m-2 ring-slate-400 rounded-lg shadow-md;
}

.achievement h3 {
  @apply text-gray-700 font-semibold;
}

.achievement p {
  @apply text-justify text-sm text-gray-700 py-2 mb-1;
}

.achievement-bottom {
  @apply flex flex-row justify-between items-center;
}

.achievement-bottom h4 {
  @apply text-sm text-gray-600 ring-1 ring-emerald-400 p-1 rounded-md;
}

.achievement-bottom a {
  @apply ring-1 ring-blue-600 p-1 rounded-md;
}
